body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 100px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

.banner img {
    width: 100%;
    height: auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.product img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-item {
    width: 200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

script {
    src: "script.js";
}

body{
  background-color:#db72ba
}